<h2><%= @recipe.title %></h2>

<div>
    <% if @recipe.thumbnail == '' %>
        <%= image_tag "no_image.png", :class => "recipe_image" %>
    <% else %>
        <img class="recipe_image" src="<%= @recipe.thumbnail %>"/>
    <% end %>
</div>
<div>
    <% @ingredients.each do |ingredient|%>
    <p><%=ingredient.name%></p>
     <% end %>
</div>
<h3><%= link_to "View Full Recipe", @recipe.href %></h3>

<style>
   .recipe_image {
       width: 30%;
   }
</style>